<div class="row justify-content">
    <!-- form card register -->
    <div class="card-body">
        <p-table [columns]="cols" [value]="rules" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <!-- <td>{{ rowData._id }}</td> -->

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.name" required [(value)]="rowData.name" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.name }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.description" required [(value)]="rowData.description" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.description }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.type" readonly value="REFERENCE">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.type }}
                            </ng-template>
                        </p-cellEditor>
                    </td> -->
                    <td>{{ rowData.type }}</td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.source">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.source }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.dest">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.dest }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.format">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.format }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="availableCopyModes" [(ngModel)]="rowData.copyMode"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.copyMode }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <ng-select multiple="true" dropdownPosition="auto" [searchable]="true" [items]="availableCustomProcessors" [(ngModel)]="rowData.customProcessor" [closeOnSelect]="false" [addTag]="true" name="multiSelectSpecific"></ng-select>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.customProcessor }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.params">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.params }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="availableUpdateModes" [(ngModel)]="rowData.updateMode"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.updateMode }}
                            </ng-template>
                        </p-cellEditor>
                    </td> -->

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <ng-select multiple="true" dropdownPosition="auto" [searchable]="true" [items]="rules" [(ngModel)]="rowData.ifOkRules" [closeOnSelect]="false" [addTag]="true" name="multiSelectSpecific"></ng-select>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.ifOkRules }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <ng-select multiple="true" dropdownPosition="auto" [searchable]="true" [items]="rules" [(ngModel)]="rowData.ifNotOkRules" [closeOnSelect]="false" [addTag]="true" name="multiSelectSpecific"></ng-select>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.ifNotOkRules }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="form-group col-sm">
        <button class="btn btn-success btn-lg btn-block" (click)="submit()">Register</button>
    </div>
</div>
