<div class="container-fluid">
    <div class="row">
        <div class="form-group input-group input-group-sm col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="brand-label">Brand</span>
            </div>
            <select class="custom-select form-control" (change)="updateBrand($event.target.value)" aria-describedby="brand-label">
              <option value="">Select a brand...</option>
              <option *ngFor="let brand of Brands" value="{{ brand }}">{{ brand }}</option>
            </select>
        </div>

        <div class="form-group input-group input-group-sm col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputVersion">Version</span>
            </div>
            <input type="text" class="form-control" aria-label="Version" aria-describedby="inputVersion" />
        </div>

        <div class="form-group input-group input-group-sm col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputType">Type</span>
            </div>
            <input type="text" class="form-control" aria-label="Type" aria-describedby="inputType" />
        </div>
    </div>

    <div class="row">
        <p-table
        class="col-md-12"
        [value]="responseProfiles"
        [paginator]="true"
        [rows]="10"
        [scrollable]="true"
        [columns]="scrollableColumns"
        [frozenColumns]="frozenColumns"
        frozenWidth="300px">

          <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col *ngFor="let col of columns">
              </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
              <tr style="height:80px;">
                  <th *ngFor="let col of columns" [style.width]="col.width">
                      {{col.header}}
                  </th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr style="height:80px;">
                  <td pEditableColumn *ngFor="let col of columns" [style.width]="col.width">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input *ngIf="col.type=='text'" type="text" [(ngModel)]="rowData[col.field]" [(value)]="rowData[col.field]" />
                              <ng-select *ngIf="col.type=='multi'" multiple="true" dropdownPosition="auto" [searchable]="true" [items]="itemList[col.field]" [(ngModel)]="rowData[col.field]" [closeOnSelect]="false" [addTag]="true"></ng-select>
                          </ng-template>
                          <ng-template pTemplate="output">
                              <span *ngIf="col.type=='text'">{{ rowData[col.field] }}</span>
                              <ng-select *ngIf="col.type=='multi'" multiple="true" dropdownPosition="auto" [searchable]="true" [items]="itemList[col.field]" [(ngModel)]="rowData[col.field]" disabled></ng-select>
                          </ng-template>
                      </p-cellEditor>
                  </td>
              </tr>
          </ng-template>
      </p-table>
    </div>

    <div class="row col-sm">
        <button class="btn btn-success btn-lg btn-block" (click)="submit()">Register</button>
    </div>
</div>
