<div class="container">
  <!-- No data message -->
  <p *ngIf="ResponseProfiles.length <= 0" class="no-data text-center">There is no rps added yet!</p>

  <!-- Employee list -->
  <table class="table table-bordered" *ngIf="ResponseProfiles.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Designation</th>
        <th scope="col">Phone No</th>
        <th scope="col center">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rp of ResponseProfiles; let i = index">
        <th scope="row">{{ rp._id }}</th>
        <td>{{ rp.name }}</td>
        <td>{{ rp.email }}</td>
        <td>{{ rp.designation }}</td>
        <td>{{ rp.phoneNumber }}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-responseprofile/', rp._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="delete" (click)="removeResponseProfile(rp, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
